


.error{
    color: red;
    font-size: 14px;
    margin-left: 17px;
}
.div{
    width: 100%;
    max-width: 400px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    border: solid black 2px;
    border-radius: 10px;
   
    
}
.regform{
    text-align: center;
}
.style{
    margin-left: 10px;
}
#name,#email,#password{
    margin-left: 10px;
    max-width: 250px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid darkblue 1px;
}
#submitbtn{
    margin-left: 25px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    font-size: 18px;
    margin-bottom: 30px;
    border: solid white 2px;
}

@media(max-width:768px){
    .div{
        width: 80%;
    }
}

@media (max-width:480px){

.div{
    width:85%;
    
}
#name,#email,#password{
    width: 95%;
   margin: auto;
}
#submitbtn{
    width: 100%;
    margin: auto;
}
.regform{
    font-size:18px;
}

.error{
    font-size:12px;
}

}